POSTGRES_DB=scheduling-service
POSTGRES_USER=scheduling-service
POSTGRES_PASSWORD=scheduling-service-pwd
SERVER_PORT=8080
DB_HOST=jdbc:postgresql://postgres:5432/scheduling-service
DB_USERNAME=scheduling-service
DB_PASSWORD=scheduling-service-pwd
JPA_SHOW_SQL=false